<template>
  <div class="">
    <button class="form-control btn btn-inverse dropdown-toggle"
            :class="{'has-error': this.has_error}" type="button" data-toggle="dropdown">
      {{ title }} {{ selectedItem }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
      <li v-for="item in items" @click.prevent="chooseItem(item)">
        <a href="#">{{ item }}</a>
      </li>
    </ul>

    <input ref="hidden-field" class="hidden-field" type="text"
           :name="name" v-model="selected" :required="required" @focus="checkError"/>
  </div>
</template>

<script>
  export default {
    props: ['title', 'items', 'required'],
    data() {
      return {
        selected: null,
        has_error: false,
      };
    },
    mounted() {
      this.$refs['hidden-field'].addEventListener('invalid', (event) => {
        event.preventDefault();
        this.checkError(event);
      });
    },
    computed: {
      selectedItem() {
        if (this.selected) {
          return `: ${this.selected}`;
        } else {
          return '----';
        }
      },
      name() {
        return this.title.toLowerCase();
      }
    },
    methods: {
      chooseItem(item) {
        this.selected = item;

        this.$emit('changed', {
          name: this.name,
          value: this.selected
        });

        this.has_error = false;
      },
      checkError(e) {
        console.log('Error', e);
        this.has_error = true;
      }
    }
  };
</script>

<style>
  button.form-control.btn.btn-inverse.dropdown-toggle {
    color: #fff !Important;
  }

  .hidden-field {
    display: none;
  }

  .has-error {
    border-color: red;
  }
</style>
