<template>
  <div class="">
    <div class="nw-display" v-show="previewing" @click="editMode">
      <div class="n-inline">
        <span><b>{{ name.first_name }}</b></span><br/>
        <small class="label label-info">First Name</small>
      </div>

      <div class="n-inline">
        <span><b>{{ name.last_name }}</b></span><br/>
        <small class="label label-info">Last Name</small>
      </div>

      <div class="n-inline">
        <span><b>{{ name.middle_name }}</b></span><br/>
        <small class="label label-info">Middle Name</small>
      </div>
    </div>

    <input type="text" v-show="!previewing" :name="target"
           placeholder="First Name  Last Name  Middle Name"
           class="form-control" v-model.lazy="full_name" @focus="editMode"
           @blur="previewMode" @mouseOut="previewMode" :required="required"
    />

    <input type="hidden" name="first_name" v-model="name.first_name"/>
    <input type="hidden" name="last_name" v-model="name.last_name"/>
    <input type="hidden" name="middle_name" v-model="name.middle_name"/>
  </div>
</template>

<script>
  export default {
    props: ['target', 'required'],
    data() {
      return {
        full_name: '',
        editing: true,
        name: {
          first_name: '',
          last_name: '',
          middle_name: ''
        }
      };
    },
    watch: {
      full_name(value) {
        this.computeName(value);
      }
    },
    computed: {
      previewing() {
        return !this.editing && !!this.full_name.trim();
      }
    },
    methods: {
      computeName(full_name) {
        let labels = ['first_name', 'last_name', 'middle_name'];
        let names = Object.assign({}, this.names);

        full_name.split(' ').filter(name => name.trim()).forEach((name) => {
          if (labels.length > 0) {
            names[labels.shift()] = name;
          }
        });

        if (!names.last_name) {
          names.last_name = '';
        }

        this.name = Object.assign(this.name, names);
        this.$emit('name-changed', this.name  , this.target);
      },
      editMode() {
        this.editing = true;
      },
      previewMode() {
        this.editing = false;
      }
    }
  };
</script>

<style>
  div small.label {
    font-size: 12px;
    float: left;
  }

  .n-inline {
    display: inline-block !important;
  }

  .nw-display {
    cursor: text;
  }
</style>
