<template>
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-spinner" v-if="status.busy"></i>
      <i class="fa fa-warning" v-if="!status.busy && !status.valid"></i>
      <i class="fa fa-info" v-if="!status.busy && status.valid"></i>
    </span>

    <input list="nominee-res" type="text" class="form-control" :name="name"
           v-model="search_value" :required="required"
           autocomplete="off" autocorrect="off" autocapitalize="off" v-on:keyup="inputChanged" />

    <div class="input-group-btn">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" :aria-expanded="hasResult"><span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" :class="{show: hasResult}">
        <li v-for="result in search_results" @click.prevent="setName(result)">
          <a href="#" v-text="result"></a>
        </li>
      </ul>
    </div><!-- /btn-group -->
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'NameSearchField',
    props: ['target', 'required', 'name'],
    data() {
      return {
        search_value: '',
        search_results: [],
        status: {
          busy: false,
          valid: false,
          selected: false
        }
      };
    },
    computed: {
      hasResult() {
        return this.search_results.length >= 1;
      }
    },
    methods: {
      findMatch() {
        this.status.busy = true;

        //Query the server for..
        axios.post('/api/find-name', { name: this.search_value }).then((res) => {
          this.status.busy = false;
          this.search_results = res.data.result;
        });
      },
      setName(name) {
        this.search_value = name;
        this.selected = true;
        this.search_results = [];

        this.$emit("name-changed", this.search_value, this.target);
      },
      inputChanged() {
        const should_query = this.search_results.length == 0
            || (this.search_results.length > 0 && !this.search_results.includes(this.search_value));

        if( should_query ) {
          this.status.valid = false;

          if (this.search_value.length >= 3) {
            this.status.valid = true;
          } else {
            return false;
          }

          this.findMatch();
        }

        this.$emit("name-changed", this.search_value, this.target);
      }
    }
  };
</script>

<style scoped>

</style>
